
// Footer Bar - Pops up when page is scrolled 200px
footer
  position: fixed
  bottom: 0
  left: 0
  width: 100%
  z-index: $z-footer
  padding-left: 4rem
  display: flex
  align-items: center
  justify-content: space-between
  height: 7rem
  background-color: $l1
  border-top: 1px solid $l3
  transition: 0.3s ease-in-out

  .ctr-logo
    flex: 18

    svg
      height: 4rem

  .social
    flex: 1
    display: flex
    align-items: center
    justify-content: center
    height: 100%
    min-width: 5rem
    max-width: 8rem
    cursor: pointer
    transition: 0.2s ease-in-out

    &:hover
      background-color: $l2

    svg
      height: 2.4rem
      fill: $d2

@media #{$mq1280}
  footer
    height: 6rem
    padding-left: 2rem

    .ctr-logo svg
      height: 3.6rem

@media #{$mq768}
  footer
    .ctr-logo svg
      height: 3rem
    
    .social
      min-width: 4rem

      svg
        height: 1.8rem



// Toggled by JS
.hideFooter
  transform: translateY(70px)



// FooterBgImg
body
  position: relative
  height: 100%
  padding-bottom: 40vw

.footerBgImg
  position: absolute
  bottom: 7rem
  left: 0
  width: 100%
  z-index: -1

@media #{$mq1280}
.footerBgImg
  bottom: 6rem