
// *********
// Variables
// *********
$p1:  #FFC324   // Goldenrod
$p2:  #FEE86B   // Saffron
  
$d3:  #20242B   // Deep Space
$d2:  #363C47   // Carbon
$d1:  #5F6673   // Slate
$mid: #989CA3   // Steel
$l3:  #DADDE3   // Storm
$l2:  #F0F2F5   // Glacier
$l1:  #FFFFFF   // White

$gradientX: linear-gradient(to right, $p1 0%, $p2 100%)
$gradientY: linear-gradient(to bottom, $p1 0%, $p2 100%)

$shadow: 0 12px 30px -6px hsla(0, 0%, 0%, 0.1)





// ******
// Mixins
// ******
=size($x, $y)
  width: $x
  height: $y


=aspectRatio($percentage)
  width: 100%
  height: auto
  padding: $percentage 0 0 0  // 34.37% = 100 / (w / h) = 100 / (640 / 220)





// ******
// Global
// ******
html
  box-sizing: border-box
  font-size: 10px // Sets rems to 10px

*, *:before, *:after
  box-sizing: inherit

body
  margin: 0
  font-family: 'Roboto', sans-serif
  color: $d2
  background-color: $l3





// **********
// Typography
// **********
h1, h2, p, li, button
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

h1
  font-family: 'bebas-neue', 'Roboto', sans-serif
  font-weight: normal
  font-size: 7rem

h2
  font-size: 2.5rem

p
  font-size: 2rem
  line-height: 3rem





// **************
// General Resets
// **************
a, button, img
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

ul
  list-style: none
  margin: 0
  padding: 0

hr
  border: 0
  margin: 0
  padding: 0
  border-top: 1px solid $mid

button
  border: none
  margin: 0
  padding: 0
  cursor: pointer
  transition: 0.2s





// *******
// Classes
// *******
.wrap-body
  max-width: 700px
  margin: 0 auto
  padding: 6rem 2rem 0

.accentBar
  width: 8rem
  height: 6px
  margin: 2rem 0
  background-color: $p1
  background-image: $gradientX





// ************* 
// Media Queries 
// ************* 


  