header
  position: relative
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  height: 700px
  background-color: $d3
  text-align: center
  overflow: hidden
  z-index: -1

  .heroImg
    position: absolute
    top: 0
    bottom: 0
    z-index: 10
    width: 100%
    background:
      image: url("./../img/hero.jpg")
      position: center
      size: cover
    opacity: 0.5

  .heroTxt
    color: $l2
    position: relative
    z-index: 20

  h1
    margin-bottom: 3rem

.description
  padding: 0.8rem 1.2rem
  border-bottom: 1px solid $l3
  font-size: 1.3rem
  line-height: 1.6
  text-align: center

@media #{$mq1280}
  header
    height: 600px