
// Customer Spotlight - Customer/Dealer info
section > .cSpotlightInfo:first-child
  margin-top: 8rem
    
.cSpotlightInfo

  h5
    margin-bottom: 0
    padding: .6rem 0
    color: $d1

  p
    margin-bottom: 2rem
    padding: .4rem 0
    color: $d1
    border:
      top: 1px solid $l3
      bottom: 1px solid $l3





// FooterBgImg
body
  position: relative
  height: 100%
  padding-bottom: 40vw

.footerBgImg
  position: absolute
  bottom: 7rem
  left: 0
  width: 100%
  z-index: -1
