
body
  color: $d2
  background-color: $l1

article
  margin: 0 0 20rem

button
  margin: 2.4rem 0 0
  padding: 1.8rem 6.5rem
  background-color: $p1
  background-image: $gradientX
  border-radius: 3px
  color: $d3
  font-size: 2.4rem
  
  &:hover
    transform: translate3d(0, -3px, 0)

h1, h2, h3, h4, h5, h6
  font-family: 'bebas-neue', 'Roboto', sans-serif
  font-weight: normal

.bebas
  font-family: 'bebas-neue', 'Roboto', sans-serif
  font-weight: normal

.roboto
  font-family: 'Roboto', sans-serif

.pullQuote
  margin: 5rem 0
  font-family: 'Roboto', sans-serif
  font-weight: 300
  text-align: center
  color: darken($p1, 6%)



// *******
// Classes
// *******
.wrap-body
  max-width: 700px
  margin: 0 auto
  padding: 14rem 2rem 0

.accentBar
  width: 8rem
  height: 6px
  margin: 0 0 2rem
  background-color: $p1
  background-image: $gradientX



