
// *********
// Variables
// *********

// Colors
$p1:  #FFC324   // Goldenrod
$p2:  #FEE86B   // Saffron
  
$d3:  #20242B   // Deep Space
$d2:  #363C47   // Carbon
$d1:  #5F6673   // Slate
$mid: #A6ABB3   // Steel  was #989CA3
$l3:  #DADDE3   // Storm
$l2:  #F0F2F5   // Glacier
$l1:  #FFFFFF   // White

// Gradients
$gradientX: linear-gradient(to right, $p1 0%, $p2 100%)
$gradientY: linear-gradient(to bottom, $p1 0%, $p2 100%)

// Box Shadows
$shadow1: 0 12px 30px -6px hsla(0, 0%, 0%, 0.1)
$shadow2: 0 28px 60px -24px hsla(0, 0%, 0%, 0.48)

// Easing
$zease:       cubic-bezier(0.165, 0.84, 0.44, 1)
$easeOutBack: cubic-bezier(0.175, 0.885, 0.32, 1.275)

// Media Queries
$mq1920: "(max-width: 1920px)"
$mq1600: "(max-width: 1600px)"
$mq1366: "(max-width: 1366px)"
$mq1280: "(max-width: 1280px)"
$mq1024: "(max-width: 1024px)"
$mq960: "(max-width: 960px)"
$mq768: "(max-width: 768px)"
$mq568: "(max-width: 568px)"
$mq414: "(max-width: 414px)"





// ******
// Mixins
// ******
=size($x, $y)
  width: $x
  height: $y

=aspectRatio($percentage)
  width: 100%
  height: auto
  padding: $percentage 0 0 0  // 34.37% = 100 / (w / h) = 100 / (640 / 220)





// ******
// Global
// ******
html
  box-sizing: border-box
  font-size: 10px // Sets rems to 10px

*, *:before, *:after
  box-sizing: inherit

body
  margin: 0
  font-family: 'Roboto', sans-serif





// **********
// Typography
// **********
h1, h2, h3, h4, h5, h6, p, li, button
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

// ************************************************************
// Font sizes are based on a modular scale // 4:5 – major third
h1
  font-size: 14.552rem
  line-height: 12.642rem
  margin: 0 0 3.6rem

h2
  font-size: 9.313rem
  line-height: 9.313rem
  margin: 0 0 3.4rem

h3
  font-size: 7.451rem
  line-height: 7.451rem
  margin: 0 0 3.2rem

h4
  font-size: 4.768rem
  line-height: 6rem
  margin: 0 0 3rem

h5
  font-size: 3.815rem
  line-height: 5rem
  margin: 0 0 2.8rem

h6
  font-size: 3.052rem
  line-height: 4.1rem
  margin: 0 0 2.6rem

p
  font-size: 2rem
  line-height: 3rem
  margin: 0 0 2rem





// **************
// General Resets
// **************
a, button, img
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

ul
  list-style: none
  margin: 0
  padding: 0

hr
  border: 0
  margin: 0
  padding: 0
  border-top: 1px solid $mid

button
  border: none
  margin: 0
  padding: 0
  cursor: pointer
  transition: 0.2s





// *******
// Classes
// *******

.bold
  font-weight: 700

.noMarBottom
  margin-bottom: 0rem
