article
  h2 MDV Maintenance Made Simple
  .accentBar
  p Many catastrophic vehicle failures are a result of lack of maintenance. The Hustler development team focused specifically on making routine maintenance and general service as simple and accessible as possible with the MDV. Checking the oil, checking and changing the air filter, and accessing the battery can all be done through the side service access door without moving the bed. A remote mount oil filter positions the filter so that it can be easily accessed and drained without a mess. The LeveLift version allows oil to be added without requiring cargo to be unloaded. The removable front toolbox allows instant access to all front components allowing easy access for radiator cleaning or steering and suspension inspections.
