
article
  h2 MDV Consumer Spotlight
  .accentBar
  p We know there are all types of unique uses for the MDV. And, to gain more insight on this topic, Hustler Turf has been reaching out to MDV owners to learn some of the more interesting ways consumers and business owners are utilizing the LeveLift bed technology. Each issue we thought it’d be fun to share some of these stories:
  
  section
    +cSpotlightInfo('Exotic Feline Rescue Center', 'Customer – Center Point, IN')
    +cSpotlightInfo('Crowder Lawn & Garden', 'Dealer – Rockville and Brazil, IN')
    p With about 200 exotic felines calling the Exotic Feline Rescue Center (EFRC) home, the EFRC is one of the largest rescue centers in the United States for abused, unwanted and neglected exotic felines.
    p Joe Taft is the founder and director of the center and bought his MDV this spring specifically for the LeveLift bed technology.
    p “Many of the cats brought in here need medical/dental procedures,” says Joe. “We have a complete medical facility and twice a year we have dentists who volunteer their time and talents to fly in here to work on our animals.”
    p The process involves immobilizing the animals, carrying them on a stretcher and lifting them into the bed of a vehicle to transport them to their medical facility.
    p “These cats can weigh 600 lbs and that is the high risk part of things – if one of the carriers suddenly finds that they can no longer hold their end, they can drop the animal which could injure the animal or the handler or both,” says Joe.
    +video('tiger', 'https://www.youtube.com/embed/ogwo_mVLar4?rel=0')
    p With the LeveLift bed technology, the risky part of this process has been greatly reduced.
    p “We bought it for that dental event, but even before that came around I’ve been using it and it works even better than I thought,” says Joe.
    p Joe is also a consumer who is a great example of the Hustler MDV marketing plan driving foot traffic to one of our dealerships. #[span.bold He received his MDV postcard in the mail during the spring marketing campaign which peaked his interest. He then saw the Hustler television commercial with Crowder Implement’s ad selling the MDV.] When he realized the dealer just a few miles away from his home, he marched down there and bought his MDV.
  
  section
    +cSpotlightInfo('Garden of Memories Cemetery', 'Customer – Pittsburg, KS')
    +cSpotlightInfo('Bitner Motors', 'Dealer – Pittsburg, KS')
    p Garden of Memories is a 10-acre cemetery owned by small-business owner Lori Lavery. She is also assisted by her grounds specialist, Joe Gorenc.
    p Lori calls the MDV a “godsend” for female small business owners.
    p “Because we run with a small staff, myself, the Grounds Specialist, and a part time employee, there are many tasks that I can now do on my own, without the “muscle” of my grounds guys,” says Lori. “Emptying trash cans – there was no way I could lift a big trash can over the bed of our previous UTV by myself. Now, with the MDV, this is one task I can do and that helps with distributing the workload for our business.”
    p Another application in her business they are using the MDV for is transporting caskets.
    h5.pullQuote “A casket typically weighs 200-400 lbs, with the MDV we can easily put a casket into the bed without having to lift it."
    p "And then, once loaded we can easily transport it to its destination. Not having to lift an item that heavy has helped us immensely.”
    p Her business also involves a lot of dirt work. However, with the bed lowering to the ground, that task has also been made easier as they can transfer dirt to the gravesite and simply dump and/or shovel the dirt easily onto the ground.
    p “I rate the quality of the MDV as an overall “10” cause I can do so much more now in my business,” says Lori.
    //- p.wip REMEMBER TO SEND HER A COPY!!!!