
article
  h3.noMarBottom Dealer Spotlight
  h2 PowerPro Equipment
  .accentBar
  p Jim Martin, with PowerPro Equipment in New Holland, Pennsylvania, has a long history with Hustler Turf Equipment. He started retailing Hustler products in 1975 when he joined PowerPro.
  p PowerPro (which has a total of six locations) added the Hustler MDV to their offering in March 2017 and have had a lot of success in retailing the units. To date, they have sold 14 MDV’s. Jim credits a lot of that success to physically taking the vehicle out to potential customers and demo’ing it so they can see how it works. He feels this goes a long way in helping them visualize how it could be applied to their business.
  h5.pullQuote “I come from the old school where sales people go out on the road. We scope out colleges, schools, municipalities, parks and bring the equipment to them.”
  p Demo'ing the equipment “is especially important with the MDV because there’s a lot of UTV’s out there. But, not one of those UTV’s has the LeveLift bed technology. The key is showing it and getting people to think about how they could use it in their operation and all the benefits it could bring.”
  p One unexpected customer in his area that has garnered a lot of interest are retirement homes.
  p “In Pennsylvania, there are a lot of retirement facilities and these places are constantly moving things around like washing machines, refrigerators, etc.,” says Jim. “With the LeveLift bed technology, it makes the loading and the unloading of these items so much easier. They can literally take those items right up to the door of any house and easily transport it inside.”
  p Another great customer opportunity Jim notes are schools and colleges who have the same type of equipment movement going on at their facilities.
  p “Honestly, there’s not one limit to any application,” says Jim. “Sometimes you have to think out-of-the-box of how that customer could use it, but that’s where bringing it out to them and letting them see how it works makes a difference. Then, they can better visualize how it can help them in their business.”
  p Jim says another great feature of the MDV that he loves to point out is the versatility of the cab. With long, cold winters in Pennsylvania, being able to offer the front mount snow blade and full cab with heat gives consumers the ability to turn it into a winter vehicle which he cites as another great selling point.
  h5.pullQuote “Being able to convert the MDV into a winter ready vehicle can really resonate with our customer base up here.”
  p One customer he worked with had 12 acres of wood land and bought it for hauling the firewood. He was amazed at how much easier it was to load firewood without having to lift the bundles over the side of his previous vehicle. “Some customers don’t want to spend the dollars for the LeveLift, but if they have a valuable use for it – like saving their backs - they can then see the value of spending the money for it”
  p Other applications where Jim sees a use for the MDV are areas - like swampy terrain - where a truck or tractor would be too heavy or big to go into, but there’s still a need to load and/or unload heavy items.
  p “If you look at the construction industry you know there are times they have items, like concrete blocks, where they need to transport them thru an area where a truck just can’t go,” says Jim. “Having the MDV to make that whole process easier can be a big value to a business like that.”
  .video
    iframe(src="https://www.youtube.com/embed/5C52HMh-nrM?rel=0", frameborder="0", allow="autoplay; encrypted-media", allowfullscreen)
  p PowerPro has marketed the MDV throughout their locations extensively. They made a video for their website showing it being used in different applications. They have also advertised it in their local newspapers with photos capturing the machine in its lift and lower positions. They’ve also brought it to outdoor sports shows and farm shows – even the local town parade.
  p “We think the MDV is a unique offering that has endless possibilities of the places where it can be used,” says Jim. “Truly, the sky's the limit here.”
