article.article-mdvMarketing
  h2.marBottom-0 Marketing The MDV
  h3 Spring 2018
  .accentBar
  p Hustler is dedicated to helping promote the Hustler MDV during the all-important spring and fall time periods when UTV sales are ramping up. This past spring, the Hustler team launched a marketing campaign that involved a variety of tactics including digital, direct mail, email blasts, trade publication and television in areas where MDV dealers resided and targeted consumers who either displayed or showed an interest in buying a utility vehicle by either their online activities or their job title or whether they had purchased a Hustler commercial product in the past.
  p For local dealer support, MDV dealers were put into one of two tiers based on how concentrated MDV dealerships were within a local market and each tier received support in one of the formats outlined above.
  p Trade publication support was done in the Farm Journal and Lawn &amp; Landscape magazines during the months of April, May and June.
  p The primary objective of this campaign was to increase brand awareness of the MDV by helping to announce/launch the MDV in markets where there was at least one dealer, driving consumers to the dealer locator. The trackable goal of the campaign was to increase website visits to the MDV landing page through efficient digital advertising tactics, and ultimately support sales and dealer distribution.
  p It is estimated that #[span.bold total served impressions for the campaign equaled 37,710,440] thru all the media tactics: digital, direct mail, print and email.
  h6.marBottom-1 Reminder: MDV Video Available For Local Ad Purposes
  p Dealers interested in advertising the MDV in their local markets have access to an MDV video they can use via the ad materials website. Whether you use for your website, social media or an actual tv spot, this commercial is available to serve in that capacity.
  a(href="https://www.hustlerturf.com/ad-materials/bundle/126")
    button.bebas Hustler Ad-Materials