article
  h2.noMarBottom Marketing The MDV
  h3 Spring 2018
  .accentBar
  p.wip Article is a work in progress...
  p Hustler is dedicated to helping promote the Hustler MDV during the all-important spring and fall time periods when UTV sales are ramping up. This past spring, the Hustler team launched a marketing campaign that involved a variety of tactics including digital, direct mail, email blasts, trade publication and television in areas where MDV dealers resided and targeted consumers either displayed or designed to focus on consumers with on-line characteristics that demonstrated they were interested in purchasing a utility vehicle. This included a variety of tactics including digital web banners, direct mail pieces, email blasts and trade and television advertising. Blah, blah, blah…