footer.hideFooter
  .ctr-logo
    include ./../img/hustlerLogo.pug

  a.social(href="https://www.youtube.com/HustlerTurfEquip")
    include ./../img/icon-youtube.pug
  a.social(href="https://www.facebook.com/HustlerTurf/")
    include ./../img/icon-facebook.pug
  a.social(href="https://www.instagram.com/hustlerturf/")
    include ./../img/icon-instagram.pug
  a.social(href="https://twitter.com/HustlerTurf")
    include ./../img/icon-twitter.pug

  .backToTop.hideBackToTop
    include ./../img/icon-arrowUp.pug
    include ./../img/icon-arrowUp.pug
    
