header
  .heroImg
  .heroTxt
    h1 The Download
    h5.roboto.bold AUGUST 2018
p.description The Download is a quarterly eNewsletter from Hustler Turf Equipment dedicated to keeping dealers informed with the latest MDV news.
