<!DOCTYPE html>

include mixins

html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="./../styles/_index.sass")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:300,700")
    link(rel="stylesheet", href="https://use.typekit.net/ixz0jif.css")
    link(rel="shortcut icon", type="image/png", href="./../img/favicon.png")
    title Hustler's MDV eNewsletter - The Download
  body

    include header.pug

    //- .hoverZone
    //-   button.notesBtn Notes On

    .wrap-body
      include article-dealerSpotlight.pug
      include article-maintenance.pug
      include article-marketing.pug
      include article-consumerSpotlight.pug

    img(class="footerBgImg", src="./../img/footerHero@2000.jpg")
    include footer.pug
    
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
    script(src="./../scripts/_index.js")

