
mixin video(name, videoUrl)
  .ctr-video
    iframe(class='video', src=videoUrl, frameborder="0", allow="autoplay; encrypted-media", allowfullscreen)
    div(class="ctr-videoCover")
      div(class="bgImg" id=`${name}Img`)
      .playCircle
      include ./../img/icon-play-90px.pug


mixin cSpotlightInfo(name, info)
  .cSpotlightInfo
    h5 #{name}
    p.subCopy #{info}
